ul{
  list-style: none;
  margin: 2rem;
  overflow: hidden;
}

img{
  height: auto;
  width: 300px;
  float: right;
  padding: 3em;
}

.item{
  display: flex;
  height: auto;
  padding: 50px 0;
  line-height: 2em;
}

.flags{
  flex: auto;
}

.languages{
  padding: 0 5px;
  list-style: inside;
}
